body {
    background-color:#FFFFF2
}

button {
    border: 1px solid #4CAF50;
    border-radius: 10px;
    background: none;
    margin:10px;
    width: 250px;
    font-size: 30px;
}

.edit_box {
    border-radius: 3px;
    border: 2px solid orange;
    width: 200px;
    height: 40px;
    font-size: 30px
}

#contents {
    margin: 0 auto;
    width: 50%;
    text-align: left;
}

label {
    font-size: 20px
}